:root {
  --hand-background: #eee;
  --card-background: #ddd;
  --cardName-background: #cccd;
  --cardName-text-colour: #000;
  --cardName-shadow-colour: #fff;
  --enemyHp-progress-colour: #c00;

  --border-colour: #000;
  --card-border-colour: #444;

  --card-aspect-ratio: 40 / 59; /* StS card dimensions */
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}

#hand {
  background-color: var(--hand-colour);
  border-top: 1px solid var(--border-colour);
  align-items: center;
  justify-content: space-evenly;
  overflow-x: auto;
  gap: 2%;
  padding: 0 2%;
  position: relative;
  overflow-y: hidden;
  user-select: none;
}

#enemies {
  background-color: var(--hand-colour);
  border-top: 1px solid var(--border-colour);
  align-items: center;
  justify-content: space-evenly;
  overflow-x: auto;
  gap: 2%;
  padding: 0 2%;
  position: relative;
  overflow-y: hidden;
  user-select: none;
}

.card,
.enemy {
  background-color: var(--card-background);
  height: 85%;
  position: relative;
  aspect-ratio: var(--card-aspect-ratio);
  border-radius: 10px;
  max-height: 90%;
  transition: transform 0.3s ease;
  transform-origin: center center;
  z-index: 1;

  cursor: grab;
}

.enemy {
  cursor: unset;
}

.card:hover,
.enemy:hover {
  transform: scale(1, 1.1);
  z-index: 10;
}

.cardName,
.enemyName {
  background-color: var(--cardName-background);
  width: fit-content;
  margin: 0 auto;
  z-index: 1;
  font-size: 20px;
  position: relative;
  color: var(--cardName-text-colour);
  text-shadow: -1px -1px 0 var(--cardName-shadow-colour),
    1px -1px 0 var(--cardName-shadow-colour),
    -1px 1px 0 var(--cardName-shadow-colour),
    1px 1px 0 var(--cardName-shadow-colour);
  padding: 0 5px;
  border-radius: 10px;
  text-align: center;
  top: 2.5%;
}

.cardImage,
.enemyImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.enemyHp {
  position: absolute;
  bottom: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 1;
  background-color: transparent;
  border: none;
}

.enemyHp::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 10px;
}

.enemyHp::-webkit-progress-value {
  background-color: var(--enemyHp-progress-colour);
  border-radius: 10px;
}

.enemyHp::-moz-progress-bar {
  background-color: var(--enemyHp-progress-colour);
  border-radius: 10px;
}

.enemyHp::-ms-progress-bar {
  background-color: transparent;
}

.enemyHp::-ms-progress-value {
  background-color: var(--enemyHp-progress-colour);
  border-radius: 10px;
}

.enemyHpValue {
  position: absolute;
  bottom: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  z-index: 2;
  font-size: 0.8em;
}

.draggedCard {
  position: absolute;
  width: fit-content;
  height: fit-content;
  z-index: 1000;
  pointer-events: none;
  margin: 0;
  cursor: grabbing;
}

#enemies {
  border-bottom: 1px solid var(--border-colour);
}

#hand,
#enemies,
#middle {
  flex: 1;
  display: flex;
}

.enemyHpValue,
button,
.cardName,
.enemyName {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
